*.yuv
*.bin
*.265
/build/
/bin/
/lib/
core
deploy
*.sdf
*.suo
*.pyc
.vs/
.vscode/
Makefile
/cfg/per-sequence/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
source/App/Parcat/CMakeFiles/
source/App/Parcat/cmake_install.cmake
source/App/TAppDecoder/CMakeFiles/
source/App/TAppDecoder/cmake_install.cmake
source/App/TAppDecoderAnalyser/CMakeFiles/
source/App/TAppDecoderAnalyser/cmake_install.cmake
source/App/TAppEncoder/CMakeFiles/
source/App/TAppEncoder/cmake_install.cmake
source/App/TAppMCTSExtractor/CMakeFiles/
source/App/TAppMCTSExtractor/cmake_install.cmake
source/Lib/TLibCommon/CMakeFiles/
source/Lib/TLibCommon/cmake_install.cmake
source/Lib/TLibCommonAnalyser/CMakeFiles/
source/Lib/TLibCommonAnalyser/cmake_install.cmake
source/Lib/TLibDecoder/CMakeFiles/
source/Lib/TLibDecoder/cmake_install.cmake
source/Lib/TLibDecoderAnalyser/CMakeFiles/
source/Lib/TLibDecoderAnalyser/cmake_install.cmake
source/Lib/TLibEncoder/CMakeFiles/
source/Lib/TLibEncoder/cmake_install.cmake
source/Lib/Utilities/CMakeFiles/
source/Lib/Utilities/cmake_install.cmake

